# Archivos grandes
Servidor/ArchivosAEnviar/100MB.txt
Servidor/ArchivosAEnviar/250MB.txt
Servidor/ArchivosAEnviar/100MB.pdf
Servidor/ArchivosAEnviar/250MB.pdf

# Carpetas

Servidor/Logs/
Cliente/Logs/
Cliente/ArchivosRecibidos/
